
HTML {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    height: 100%;
    min-height: 100vh;
    background-color: #98C914;
    background-image: linear-gradient(#80af14, #98C914);
    background-repeat: no-repeat;
    FONT-FAMILY: Verdana, Helvetica, Geneva, sans-serif;
    color: #000000;
    font-size: 1rem;
}

BODY {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    border-collapse: separate;
}

IMG {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px
}

#mainContainer {
    Z-INDEX: 3;
    margin-left: auto;
    margin-right: auto;
    TOP: 0px;
    font-size: 0.8rem;
}

#mainlogo {
    padding: 3px;
    height: 70px;
}

#breadcrumbs {
    padding: 10px;
}

#userinfo {
    padding: 10px;
    align-items: end;
}

#headContainer {
    display: grid;
    align-items: end;
    grid-template-columns: 0.5fr 6fr 2fr;
}

#contentContainer {

    MARGIN: 1vw 0 1vw 0;
    position: relative;
    width: 98vw;
    display: block;
    border: none;
    border-color: #666666;
    border-width: 1px;
    border-style: none;
    padding: 2vw 2vw;
    background-color: #ffffff;
}

.aktiv {
    color: #559902;
}

h1 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #559902;
}
/* --------------- nice dialogues without tables --------------- */

ol, ul {
    list-style: none outside none;
}

fieldset {
    background-color: red;
    position: relative;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px solid #E6E6E6;
    margin-left: 0px;
    background: white;
    padding: 0 0 6px 0;
}

fieldset.styledFieldset {
    background: #F5FAFD;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    margin-bottom: 18px;
}

fieldset.nonStyledFieldset {
    border: none;
    margin-top: 0px;
}

fieldset ul,
fieldset ol {
    padding: 6px 0 0 0px;
}

fieldset ul ul,
fieldset ol ul,
fieldset ol ol,
fieldset ul ol{
    padding: 0px;
}

legend {
    padding: 10px 0 2px 0;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    width: 100%;
    color: #494949;
    border-bottom: 1px solid #E6E6E6;
}

fieldset.styledFieldset legend,
fieldset.tableFilter legend{
    background: white;
}

.fieldDescription {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset li {
    color: #494949;
    margin: 8px 0;
    position: relative;
    line-height: 1.4em;
}

fieldset .leftBlock label:first-child{
    margin-left: 0px;
    float: none;
    text-align: left;
    width: auto;
}

fieldset .leftBlock label {
    font-weight: bold;
}

fieldset li:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 1px;
}

fieldset li label:first-child {
    min-height: 1px;
    padding-right: 3px;
    margin-top: 1px;
    margin-bottom: 3px;
    display: block;
    text-align: right;
    position: relative;
    float: left;
    vertical-align: top;
    line-height: 16px;
}

fieldset li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

fieldset li label.required:after {
    content: "*";
    display: inline;
    *display: inline; /* =Hack */
    position: relative;
    font-weight: bold;
    margin-left: 0.1em;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
    color: #004f77;
}

.invalid {
    color: #EA1818;
    display: block;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* input field dimensions */
.shortInput {
    width: 30px !important;
}

.smallInput {
    width: 90px !important;
}

.mediumInput {
    width: 145px !important;
}

.largeInput {
    width: 245px !important;
}

.xlargeInput {
    width: 245px !important;
}

.mediumTextarea {
    width: 245px !important;
    height: 4em;
}



/* various messages */
#globalMessagesPanel .infoMessage,
#globalMessagesPanel .errorMessage,
#globalMessagesPanel .warnMessage,
#globalMessagesPanel .successMessage {
    padding: 11px 10px 11px 49px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0;
    background-position: 14px 7px;
    display: block;
}

.infoMessage {
    color: #395878;
    border: 1px solid #6e93ba;
    background:url(#{resource[ 'images:message-info.png' ]}) no-repeat #d9e6f2;
}

.errorMessage {
    color: #843f3f !important;
    border: 1px solid #ba6e6e;
    background:url(#{resource[ 'images:message-cross.png' ]}) no-repeat #d9e6f2;
}

.warnMessage {
    color: #734f21 !important;
    border: 1px solid #c69e23;
    background:url(#{resource[ 'images:message-warning.png' ]}) no-repeat #d9e6f2;
}

.successMessage {
    color: #447839;
    border: 1px solid #7bba6e;
    background:url(#{resource[ 'images:message-tick.png' ]}) no-repeat #d9e6f2;
}


/* Input & Textarea]
-------------------------------------------------------------------*/

input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1em !important;
    margin-right: 5px !important;
}

select {
    max-width: 350px;
}

input[type=radio],
input[type=checkbox] {
    margin-right: 10px !important;
}

input[type=text],
textarea,
input[type=password]{
    color: #494949;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 2px;
    border: 1px solid silver !important;
    padding: 3px 0px 2px 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: gray !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

input[type=text].ui-state-hover,
textarea.ui-state-hover,
input[type=password].ui-state-hover {
    border: 1px solid silver !important;
}

input[type=text].ui-state-focus,
textarea.ui-state-focus,
input[type=password].ui-state-focus {
    border: 1px solid gray !important;
}

input[type=text].invalidInput {
    background: #ffdddd !important;
}

input[type=text][disabled=disabled],
input[type=number][disabled=disabled],
textarea[disabled=disabled],
input[type=password][disabled=disabled] {
    background-color: #f7f7f7 !important;
}


/* --------------- /toolBarGroup --------------- */

/* this is rquired for the top-switch, where there are images in the anchors */
a img {
    border: none;
}

/* --------------- /topswitch images --------------- */

.toggle {
    background-color: #ffffff;
}

/* formating of the input boxes */

input[type=submit], input[type=button] {
    font-size: 10px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

input[type=select], textarea {
    font-size: 9px;
    padding-left: 1px;
}

input[type=text], input[type=password] {
    font-size: 14px;
    padding-left: 1px;

}

select {
    font-size: 13px;
}

/* --------------- inputbox  --------------- */

table, p {
    font-size: 11px;
    padding: 0px;
    border: 0px;

}

.date {
    width: 100px;
}

.description {
    width: 300px;
}

.pending {
    text-align: right;
    color: #DDDDDD;
    width: 100px;
}


.ui-picklist-source,
.ui-picklist-target {
    height: 100% !important;
    min-height: 200px;
    max-height: 400px;
}


/* datatables */
table.datatable,
table.datatable th,
table.datatable td {
    border: 1px solid #D3D3D3;
    border-collapse: collapse;
    color: #494949;
}
table.datatable th {
    border: 1px solid #D3D3D3;
    background-color: #E3F3E3;
}
table.datatable .row-even {
    background: white;
}
table.datatable .row-odd {
    background: #F5FAFD;
}


